<html>
    <body onload="OnLoad.prototype.load('symptoms')">
	<nav class="navbar navbar-default" role="navigation">
		
			<div class="col-xs-2 border">
                <a class="btn btn-default navbar-btn" id="nav-button" href="#home">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
			</div>
			<div class="col-xs-8 border navbar-title">Symptoms</div>
			<div class="col-xs-2 visible-xs-block border">
				<span style="float: right">
					<button class="btn btn-default navbar-btn" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" id="toggle-button">
						<i class="glyphicon glyphicon-cog"></i>
					</button>
				</span>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="log_out" onclick="SubmitController.prototype.submit(this.id)">Log out</a></li>
				</ul>
			</div>
		
	</nav>
	<div class="container">
		<form class="form-signup" role="form">
			<div class="well">
				<form class="form-inline" role="form">
					<div style="display: inline">
						<div class="left-inner-addon ">
							<td align="left"><label>Date:</label></td>
				            <td><input ng-model="ctrl.symptom.date" class="form-control" type="date">
						</div>
						<div class="left-inner-addon ">
							<td align="left"><label>Time:</label></td>
				            <td><input ng-model="ctrl.symptom.time" class="form-control" type="time">
						</div>
					</div>
				</form>
				<h6 align="center">Ordered head to toe</h6>
    
                
                
                
                
                
                
                
                

                    <div class="modal-body" id="modal-info-body">
                        <ul class="nav nav-tabs nav-stacked scroll">
                            <li role="presentation" ng-repeat="symptom in ctrl.symptoms" ng-class='{"active":ctrl.tab=="{{symptom.Name}}"}'>
                                <a ng-click="ctrl.selectSymptoms(symptom)">{{ symptom.Name }}</a>
                                <input ng-show="ctrl.isSet(symptom.Name)" type=text class="form-control comments" placeholder="Optional comments">
                            </li>    
                        </ul>
                    </div>




    <!--
                        <div class="drop-scoring">

                            <br> <input type="text" class="form-control comments"
                                id="symptomComment" placeholder="Optional comment"><br>
                        </div>
    -->
                    
             
			</div>
		</form>

<!--
		<div class="hiddenSymptomContainer">
			<form class="form-signup" role="form">
				<div class="well">
					<div class="right-inner-addon">
						<i class="glyphicon glyphicon-plus" style="vertical-align: centre"></i>
						<input class="btn btn-lg btn-success btn-block symptomAddButton"
							type="button" id="btn_save_newCustomSymptom" style="float: right"
							onclick="SubmitController.prototype.submit(this.id)">
						<div style="overflow: hidden; padding-right: .5em;">
							<input type="text" class="form-control" id="newSymptom"
								placeholder="Enter symptom..."> <br>
						</div>
					</div>

					<h4>Custom Symptoms</h4>
					<ul class="list-group checked-list-box ">
      
                    </ul>
					<br>
				</div>
			</form>
		</div>
-->
        
         <div class = "form-signup" ng-show="ctrl.isSet('notinlist')">
            <div class = "well">
                <input type=text class="form-control comments" placeholder="Enter new symptom here">
                <button class="modal-button btn btn-success">Submit New Symptom</button>
            </div>
        </div>

		<button id="revealHiddenCustomSymptoms" ng-click = "ctrl.setTab('notinlist')" class="btn btn-lg btn-primary btn-block">Symptom not in list
		</button>
        
       
		
		<button id="btn_submit_symptoms"
			class="btn btn-lg btn-success btn-block submitSymptoms"
			onclick="SubmitController.prototype.submit(this.id)">Submit
			symptoms</button>
		<br>
	</div>

	<div id="display-json"></div>
</body>
<html>