<html>
    <body onload="OnLoad.prototype.load('symptoms')">
	<nav class="navbar navbar-default" role="navigation">
		
			<div class="col-xs-2 border">
                <a class="btn btn-default navbar-btn" id="nav-button" href="#home">
                    <i class="glyphicon glyphicon-chevron-left"></i>
                </a>
			</div>
			<div class="col-xs-8 border navbar-title">Symptoms</div>
			<div class="col-xs-2 visible-xs-block border">
				<span style="float: right">
					<button class="btn btn-default navbar-btn" data-toggle="collapse"
						data-target="#bs-example-navbar-collapse-1" id="toggle-button">
						<i class="glyphicon glyphicon-cog"></i>
					</button>
				</span>
			</div>
			<div class="collapse navbar-collapse" id="navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#" id="log_out" onclick="SubmitController.prototype.submit(this.id)">Log out</a></li>
				</ul>
			</div>
		
	</nav>
	<div class="container">
		<form class="form-signup" ng-submit="ctrl.submit()" name="symptomform">
			<div class="well">
                        <h3 align= "center">{{ ctrl.title }}</h3>
					<div style="display: inline">
                        
                        <div ng-show="ctrl.id == 'weight'" class="left-inner-addon">
							<td align="left"><label>We have your weight at {{ ctrl.weight }}. Please update:</label></td>
				            <td><input ng-model="ctrl.symptom.weight" name="date" class="form-control" type="number">
						</div>
<!--
						<div class="left-inner-addon ">
							<td align="left"><label>Time:</label></td>
				            <td><input ng-model="ctrl.symptom.time" name="text" class="form-control" type="time">
						</div>
-->
					</div>
                
                

                <div class="modal-body" id="modal-info-body">
                    <ul class="nav nav-tabs nav-stacked scroll">
                        <li role="presentation" ng-repeat="symptom in ctrl.symptoms" ng-class='{"active":ctrl.tab=="{{symptom.symptom}}"}'>
                            <a ng-click="ctrl.selectSymptoms(symptom.symptom)">{{ symptom.symptom }}</a>
                            <input ng-model = "ctrl.symptom.comment" ng-show="ctrl.isSet(symptom.symptom)" type=text class="form-control comments" placeholder="Optional comments" name="comment">
                        </li>    
                    </ul>
                </div>

             
			</div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value={{ctrl.submitvalue}}>
		</form>
        
         <div class = "form-signup" ng-show="ctrl.isSet('hiddenform')">
            
            <div class = "well">
                <form ng-submit="ctrl.submitSymptom()" name="newSymptomForm">
                    <input type=text class="form-control comments" ng-model="ctrl.newsymptom.symptom" placeholder="Enter new symptom here">
                    <input class="modal-button btn btn-success" type="submit" value="Submit">
                </form>
            </div>
        </div>
        </br>
		<button class="btn btn-lg btn-primary btn-block" ng-Click = "ctrl.setTab('hiddenform')" ng-hide="ctrl.id == 'weight'">Symptom not in list</button>
        
       
		

		<br>
	</div>

	<div id="display-json"></div>
</body>
<html>