<html>
    <body>
	<div navbar-widget></div>
	<div class="container">
		<form class="form-signup" ng-submit="ctrl.submit()" name="symptomform">
			<div class="well">
                        <h3 align= "center">{{ ctrl.title }}</h3>
					<div style="display: inline">
                        
                        <div ng-show="ctrl.id == 'Weight'" class="left-inner-addon">
							<td align="left"><label>We have your weight at {{ ctrl.weight[0].weight }}kg. Please update:</label></td>
				            <td><input ng-model="ctrl.symptom.weight" name="date" class="form-control" type="number">
						</div>
<!--
						<div class="left-inner-addon ">
							<td align="left"><label>Time:</label></td>
				            <td><input ng-model="ctrl.symptom.time" name="text" class="form-control" type="time">
						</div>
-->
					</div>
                
                

                <div class="modal-body" id="modal-info-body">
                    <ul class="nav nav-tabs nav-stacked scroll">
                        <li role="presentation" ng-repeat="symptom in ctrl.symptoms" ng-class='{"active":ctrl.tab=="{{symptom.symptom}}"}'>
                            <a ng-click="ctrl.selectSymptoms(symptom.symptom)">{{ symptom.symptom }}</a>
                            <input ng-model = "ctrl.symptom.comment" ng-show="ctrl.isSet(symptom.symptom)" type=text class="form-control comments" placeholder="Optional comments" name="comment">
                        </li>    
                    </ul>
                </div>

             
			</div>
            <input class="btn btn-lg btn-success btn-block" type="submit" value={{ctrl.submitvalue}}>
		</form>
        
         <div class = "form-signup" ng-show="ctrl.isSet('hiddenform')">
            
            <div class = "well">
                <form ng-submit="ctrl.submitSymptom()" name="newSymptomForm">
                    <input type=text class="form-control comments" ng-model="ctrl.newsymptom.symptom" placeholder="Enter new symptom here">
                    <input class="modal-button btn btn-success" type="submit" value="Submit">
                </form>
            </div>
        </div>
        </br>
		<button class="btn btn-lg btn-primary btn-block" ng-Click = "ctrl.setTab('hiddenform')" ng-hide="ctrl.id == 'Weight'">Symptom not in list</button>
        
       
		

		<br>
	</div>

	<div id="display-json"></div>
</body>
<html>