<html>
    <body>
	   <nav class="navbar navbar-default" role="navigation">
    	
 			<div class="col-xs-2 border"></div>
      		<div class="col-xs-8 border navbar-title">APPetite</div>
      		<div class="col-xs-2 visible-xs-block border">
      			<span style="float:right"></span>
      		</div>
      	
	   </nav>
        <div class="container">
    
		<form class="form-signin" role="form" method="post" action="scripts/database/server/login.php">
			<h3 class="form-signin-heading greeding" style="text-align: center;">Welcome to APPetite - Your NHS Nutrition and Symptom Diary!</h3>
    		<div class="panel panel-default">
                <div class="panel-body element-margin">
                <table class="login-table">
                      <tr>
                        <td align="left"><label for="nhsnumber">NHS Number:</label></td>
                        <td align="left"><input class="form-control" name="nhsnumber" id="inputAccount" type="text" placeholder="Enter your NHS number" ></td>
                      </tr>
                      <tr>
                        <td align="left"><label for="password">Password:</label></td>
                        <td align="left"><input class="form-control" name="password" id="password" type="password" placeholder="Enter your password" ></td>
                      </tr>
                      <tr>
                          <td colspan="2">
                              <div class="checkbox" id="remember" name="remember">
                                <label for="remember">
                                    <input type="checkbox" name="remember" id="remember" value="remember">Remember me
                                </label>
                            </div>
                          </td>
                      </tr>

                      <tr>
                        <td colspan="2"></td>
                      </tr>
                      </table>
                    </div>
				</div>
                <button id="btn_signin_to_home" class="btn btn-lg btn-success btn-block btn-signup">Sign in</button>
			</form>
			
			<button id="btn_signup_to_details" class="btn btn-lg btn-primary btn-block btn-signup"  onclick="Navigator.prototype.navigate(this.id)">Sign up</button>	
		</div>
    </body>
</html>