<html>
    <body>
	   <nav class="navbar navbar-default" role="navigation">
    	
 			<div class="col-xs-2 border"></div>
      		<div class="col-xs-8 border navbar-title">APPetite</div>
      		<div class="col-xs-2 visible-xs-block border">
      			<span style="float:right"></span>
      		</div>
      	
	   </nav>
    <div class="container">
        <div panel panel-default>

        <h3 class="form-signin-heading greeding" style="text-align: center;">Welcome to APPetite - Your NHS Nutrition and Symptom Diary!</h3>
            <div class="panel-default">
                <form ng-submit="ctrl.submit()" name="loginForm">	
                    <div class="panel panel-default element-margin">
                            <div class="panel-body tab-panel">

                                <table class="login-table">
                                    <tr>

                                        <td align="left"><label>NHS:</label></td>
                                        <td><input ng-model="ctrl.user.id" name ="nhsno" class="form-control" type="text" placeholder="Enter your 10 digit NHS number" required></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><label>Password:</label></td>
                                        <td><input ng-model="ctrl.user.password" name="password" class="form-control" type="password" placeholder="Enter your password" required></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
           
                     <input class="btn btn-lg btn-success btn-block" type = "submit" value = "Log in" ng-disabled="loginForm.$invalid">

                </form>
                </div>
            </div>
         <a id="btn_signup_to_details" class="btn btn-lg btn-primary btn-block btn-signup" href="#register">Sign up</a>	
        </div>
    </body>
</html>
