<html>
    <body>
        <div navbar-widget></div>
    	
    	<div class="container">
	   		<div class="row clearfix">
	    		<div class="col-md-12 column">
                    
                     <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" ng-class='{"active":ctrl.tab=="graph"}'>
                            <a href ng-click="ctrl.setTab('graph')"  role = "tab">Graph</a>
                        </li> 
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="table"}'>
                            <a href ng-click="ctrl.setTab('table')"  role = "tab">Table</a>
                        </li>
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="summary"}'>
                            <a href ng-click="ctrl.setTab('summary')"  role = "tab">Summary</a>
                        </li>
                    </ul>
	    			
	       <div class="panel panel-default space-margin" ng-show="ctrl.isSet('graph')">
               
               
                <div class="panel-body history-panel">                

                    <div class ="container">
                        
                        <label>Display:
                            <select id="foodComponents" name="foodComponents" ng-model ="ctrl.select" align="right">
                                <option id="calories_dropdown" value="calories">Calories</option>
                                <option id="protein_dropdown" value="protein">Protein</option>
                                <option id="fluid_dropdown" value="fluid">Fluid</option>
                                <option id="weight_dropdown" value="weight">Weight</option>
                        </select></label>
                     
                        <div ng-show="ctrl.select=='calories'">
                            <linechart data="ctrl.graphdata" options="ctrl.caloriesoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='protein'">
                            <linechart data="ctrl.graphdata" options="ctrl.proteinoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='fluid'">
                            <linechart data="ctrl.graphdata" options="ctrl.fluidoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='weight'">
                            <linechart data="ctrl.graphdata" options="ctrl.weightoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        
                        
                        </div>
                </div>

               
            </div>
                    
            <div class="panel panel-default space-margin" ng-show="ctrl.isSet('table')">
                
                
                <div class="panel-body history-panel">                
                    <form style="margin:0 auto;display:inline" id="parameters"> 
                            <label>Display:
                                    <select id="foodComponents" name="foodComponents" ng-model ="ctrl.select" align="right">
                                            <option id="calories_dropdown" value="calories">Calories</option>
                                            <option id="protein_dropdown" value="protein">Protein</option>
                                            <option id="fluid_dropdown" value="fluid">Fluid</option>
                                            <option id="weight_dropdown" value="weight">Weight</option>
                                </select></label>


                        <div class="well scroll">
                            <table class = "table" ng-hide="ctrl.select=='weight'">
                                <tr>
                                    <td>Quantity</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td ng-show="ctrl.select=='calories'">Total Calories</td>
                                    <td ng-show="ctrl.select=='protein'">Total Protein</td>
                                    <td ng-show="ctrl.select=='fluid'">Total Fluid</td>
                                </tr>
                                <tr ng-repeat="item in ctrl.items | orderBy:'datetime.date':true">
                                        <td> {{ item.quantity }}</td>
                                        <td>{{ item.foodname }}</td>
                                        <td>{{ item.datetime.date | dateTime | date:'dd-MM-yyyy' }}</td>
                                        <td ng-show="ctrl.select=='calories'">{{ item.total_calories }}kcal</td>
                                        <td ng-show="ctrl.select=='protein'">{{ item.total_protein }}g</td>
                                        <td ng-show="ctrl.select=='fluid'">{{ item.total_fluid }}g</td>
                                </tr>    
                            </table>
                                <table class = "table" ng-show="ctrl.select=='weight'">
                                <tr>
                                    <td>Date</td>
                                    <td>Weight</td>
                                </tr>
                                <tr ng-repeat = "record in ctrl.weights | orderBy:'datetime.date':true">
                                    <td>{{ record.datetime.date | dateTime | date:'dd-MM-yyyy' }}</td>
                                    <td>{{ record.weight }}kg</td>
                                </tr>    
                            </table>
                        </div>
                        
                        
                        
                    </form>
                </div>

                
            </div>
                    
            <div class="panel panel-default space-margin" ng-show="ctrl.isSet('summary')">
                
                <div class="panel-heading">
                    Summary of Activity
                </div>
                <div class="panel-body history-panel scroll">                
                    <h3>Weight</h3>
                        <p>Registration Weight: {{ ctrl.earliestweight }}kg</p>
                        <p>Most Recent Weight: {{ ctrl.weight }}kg</p>
                    <h3>Requirements</h3>
                        <div ng-repeat="req in ctrl.userrequirements">
                            <p>Calories Requirements: {{ req.finalcalories }}kcal</p>
                            <p>Protein Requirements: {{ req.finalprotein }}g</p>
                            <p>Fluid Requirements: {{ req.finalfluid }}g</p>
                        </div>
                    <h3>Symptoms</h3>
                        <div ng-repeat = "symp in ctrl.usersymptommanifest">
                            <h4>{{ symp.symptom }}</h4>
                            <p>Recorded {{ symp.datetime.date | dateTime | date:'dd-MM-yyyy' }}</p>
                            <p>{{ symp.comment }}</p>
                        </div>
                </div>

                
            </div>

						
                 
                
               </div>
            </div>
        </div>
  	</body>
<html>