<html>
<body onload="OnLoad.prototype.load('history')">
			<nav class="navbar navbar-default" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    
 		<div class="col-xs-2 border">
            <a class="btn btn-default navbar-btn" id="nav-button" href="#home">
 			    <i class="glyphicon glyphicon-chevron-left"></i>
 			</a>
    	</div>
      <div class="col-xs-8 border navbar-title">History</div>
      <div class="col-xs-2 visible-xs-block border">
      <span style="float:right">
      <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#navbar-collapse" id="toggle-button"><i class="glyphicon glyphicon-cog"></i>
      </button>
     </span>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="log_out" onclick="SubmitController.prototype.submit(this.id)">Log out</a></li>
      </ul>
    </div>
      
</nav>
    	
    	<div class="container">
	   		<div class="row clearfix">
	    		<div class="col-md-12 column">
                    
                     <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" ng-class='{"active":ctrl.tab=="graph"}'>
                            <a href ng-click="ctrl.setTab('graph')"  role = "tab">Graph</a>
                        </li> 
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="table"}'>
                            <a href ng-click="ctrl.setTab('table')"  role = "tab">Table</a>
                        </li>
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="summary"}'>
                            <a href ng-click="ctrl.setTab('summary')"  role = "tab">Summary</a>
                        </li>
                    </ul>
	    			
	       <div class="panel panel-default space-margin">
	    			<div class="panel-heading" ng-hide="ctrl.isSet('summary')">
                        <form style="margin:0 auto;display:inline" id="parameters">Select 
									<select id="foodComponents" name="foodComponents" >
										<option id="calories_dropdown" value="energy_kcal">Calories</option>
										<option id="protein_dropdown" value="protein_g">Protein</option>
										<option id="fluid_dropdown" value="water_g">Fluid</option>
										<option id="weight_dropdown" value="Weight (kg)">Weight</option>
									
									</select>
								</form>
                            </div>
								<div id = "target">
	    				<div class="panel-body history-panel">
	     				<div class="row" id="datepicker_div">
							<div class="col-xs-6">	From: <input type="text" class="form-control date" id="datepickerFrom"  readonly="readonly" style="cursor :default">
							</div> 
								<div class="col-xs-6">To: <input type="text" class="form-control date" id="datepickerTo"  readonly="readonly" style="cursor :default">
							</div>
						</div>
	     				<div class="row space-margin" id="historyVisualisation">
							<div ng-show="ctrl.isSet('graph')">Graph</div>
                            <div ng-show="ctrl.isSet('table')">Table</div>
                            <div ng-show="ctrl.isSet('summary')">Summary</div>
						</div>
	     			
	     		</div>
			</div>
	   </div>
                    
					</div>
					
				</div>
			 <div class="space-margin">
		    	<button class="btn btn-lg btn-success btn-block" data-toggle="modal" 
    						data-target="#modal-export">Export</button> 
		    </div>

  			<div class="modal-dialog">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        				
        					<span class="sr-only">Close</span>
        				</button>
        				<h4 class="modal-title">Send your nutrition report via eMail</h4><br>
        				<h6 class="modal-title">nutritional report includes information on your weight change, calorie requirements
        				and most frequent symptoms</h6>
      				</div>

      				<div class="modal-footer">
						  <form method="post" name="contact_form">
							Email Address: <input type="text" id="email_address" name="email"> 
							 <input type="submit" class="btn btn-success" data-dismiss="modal"  value="Send" id="emailButton" onclick="SubmitController.prototype.submit(this.id)">
							
						</form>

      				</div>
    			</div>
  			</div>
	
		</div>
		
<form method="POST" enctype="multipart/form-data" action="scripts/database/server/saveimage.php" id="myForm">
    <input type="hidden" name="img_val" id="img_val" value="img_val" />
</form>

  	</body>
<html>