<html>
    <body>
        <nav class="navbar navbar-default" role="navigation">
    
 		<div class="col-xs-2 border">
            <a class="btn btn-default navbar-btn" id="nav-button" href="#home">
 			    <i class="glyphicon glyphicon-chevron-left"></i>
 			</a>
    	</div>
      <div class="col-xs-8 border navbar-title">History</div>
      <div class="col-xs-2 visible-xs-block border">
      <span style="float:right">
      <button class="btn btn-default navbar-btn" data-toggle="collapse" data-target="#navbar-collapse" id="toggle-button"><i class="glyphicon glyphicon-cog"></i>
      </button>
     </span>
      </div>
      <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#" id="log_out" onclick="SubmitController.prototype.submit(this.id)">Log out</a></li>
      </ul>
    </div>
      
    </nav>
    	
    	<div class="container">
	   		<div class="row clearfix">
	    		<div class="col-md-12 column">
                    
                     <ul class="nav nav-tabs nav-justified" role="tablist">
                        <li role="presentation" ng-class='{"active":ctrl.tab=="graph"}'>
                            <a href ng-click="ctrl.setTab('graph')"  role = "tab">Graph</a>
                        </li> 
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="table"}'>
                            <a href ng-click="ctrl.setTab('table')"  role = "tab">Table</a>
                        </li>
                         
                        <li role="presentation" ng-class='{"active":ctrl.tab=="summary"}'>
                            <a href ng-click="ctrl.setTab('summary')"  role = "tab">Summary</a>
                        </li>
                    </ul>
	    			
	       <div class="panel panel-default space-margin" ng-show="ctrl.isSet('graph')">
               
               
                <div class="panel-body history-panel">                

                    <div class ="container">
                        
                        <label>Display:
                            <select id="foodComponents" name="foodComponents" ng-model ="ctrl.select" align="right">
                                            <option id="calories_dropdown" value="calories">Calories</option>
                                            <option id="protein_dropdown" value="protein">Protein</option>
                                            <option id="fluid_dropdown" value="fluid">Fluid</option>
                                            <option id="weight_dropdown" value="weight">Weight</option>
                        </select></label>
                     
                        <div ng-show="ctrl.select=='calories'">
                            <linechart data="ctrl.data" options="ctrl.caloriesoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='protein'">
                            <linechart data="ctrl.data" options="ctrl.proteinoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='fluid'">
                            <linechart data="ctrl.data" options="ctrl.fluidoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        <div ng-show="ctrl.select=='weight'">
                            <linechart data="ctrl.data" options="ctrl.weightoptions" mode="" width="700" height="350"></linechart>
                        </div>
                        
                        
                        
                        </div>
                </div>

               
            </div>
                    
            <div class="panel panel-default space-margin" ng-show="ctrl.isSet('table')">
                
                
                <div class="panel-body history-panel">                
                    <form style="margin:0 auto;display:inline" id="parameters"> 
                        <div class="well">
	
                            <div class="left-inner-addon">
                                <label>Start Date:<input ng-model="ctrl.startDate" input name="date" class="form-control" type="date"></label>
                                <label>End Date:<input ng-model="ctrl.endDate" name="date" class="form-control" type="date"></label>
                                <label>Display:
                                    <select id="foodComponents" name="foodComponents" ng-model ="ctrl.select" align="right">
                                            <option id="calories_dropdown" value="calories">Calories</option>
                                            <option id="protein_dropdown" value="protein">Protein</option>
                                            <option id="fluid_dropdown" value="fluid">Fluid</option>
                                            <option id="weight_dropdown" value="weight">Weight</option>
                                </select></label>
            
                            </div>
	

                        </div>

                        <div class="well scroll">
                            <table class = "table">
                                <tr>
                                    <td>Quantity</td>
                                    <td>Name</td>
                                    <td>Date</td>
                                    <td ng-show="ctrl.select=='calories'">Total Calories</td>
                                    <td ng-show="ctrl.select=='protein'">Total Protein</td>
                                    <td ng-show="ctrl.select=='fluid'">Total Fluid</td>
                                    <td ng-show="ctrl.select=='weight'">Total Weight</td>
                                </tr>
                                <tr ng-repeat="item in ctrl.items">
                                        <td> {{ item.Quantity }}</td>
                                        <td>{{ item.label }}</td>
                                        <td>{{ item.Date }}</td>
                                        <td ng-show="ctrl.select=='calories'">{{ item.TotalCal }}</td>
                                        <td ng-show="ctrl.select=='protein'">{{ item.TotalPro }}</td>
                                        <td ng-show="ctrl.select=='fluid'">{{ item.TotalFlu }}</td>
                                        <td ng-show="ctrl.select=='weight'">{{ item.TotalWeight }}</td>
                                </tr>    
                            </table>
                        </div>
                        
                        
                        
                    </form>
                </div>

                
            </div>
                    
            <div class="panel panel-default space-margin" ng-show="ctrl.isSet('summary')">
                
                <div class="panel-heading">
                    Summary of Activity
                </div>
                <div class="panel-body history-panel scroll">                
                    <h3>Weight</h3>
                        <p>Registration Date: {{ ctrl.weight }}</p>
                        <p>Registration Weight: {{ ctrl.weight }}</p>
                        <p>Most Recent Weigh In: {{ ctrl.weight }}</p>
                        <p>Most Recent Weight: {{ctrl.weight}}</p>
                    <h3>Requirements</h3>
                        <p>Calories Requirements: {{ctrl.weight}}</p>
                        <p>Protein Requirements: {{ctrl.weight}}</p>
                        <p>Fluid Requirements: {{ctrl.weight}}</p>
                    <h3>Symptoms</h3>
                        <p>An ng-repeat of smyptoms</p>
                </div>

                
            </div>

						
                 
                
               </div>
                <div class="space-margin">
                    <button class="btn btn-lg btn-success btn-block" data-toggle="modal" data-target="#modal-export">Export</button> 
               </div>
            </div>
        </div>
  	</body>
<html>