<html>
	<body>
 		<nav class="navbar navbar-default" role="navigation">
    		
 				<div class="col-xs-2 border">
 					<a class="btn btn-default navbar-btn" id="nav-button" href="#">
 						<i class="glyphicon glyphicon-chevron-left"></i>
 					</a>
    			</div>
      			<div class="col-xs-8 border navbar-title">Register</div>
      		
		</nav>
		
		
		
		
    	<div class="container">
    	
      	 <ul class="nav nav-tabs nav-justified" role="tablist" ng-hide="ctrl.isSet('terms')">
            <li role="presentation" ng-class='{"active":ctrl.tab=="patient"}'>
                <a href ng-click="ctrl.setTab('patient')"  role = "tab">Register as a Patient</a>
             </li>    
            <li role="presentation" ng-class='{"active":ctrl.tab=="dietician"}'>
                <a href ng-click="ctrl.setTab('dietician')"  role = "tab">Register as a Dietician</a>
            </li>
        </ul>
                

<!--
        <ul class="nav nav-tabs nav-justified" role="tablist">
	    	<li role="presentation" class="active">
                <a href="#patient-pane" aria-controls="patient-pane" role="tab" data-toggle="tab">Register as Patient</a></li>
	    	<li role="presentation">
                <a href="#doctor-pane" aria-controls="doctor-pane" role="tab" data-toggle="tab">Register as Dietician</a></li>
	    </ul>
-->

	    
	    
	    

		
			<div class="tab-content tab-panel">
				<div role="tabpanel" ng-show="ctrl.isSet('patient')" id="patient-pane">
				<form ng-submit="ctrl.submit()" name="registerForm">	
				<div class="panel panel-default element-margin">
						<div class="panel-body tab-panel">

							<table class="register-table">
								<tr>
                                    
									<td align="left"><label>NHS Number:</label></td>
									<td><input ng-model="ctrl.user.nhsno" name ="nhsno" class="form-control" type="text" placeholder="Enter your 10 digit NHS number" required ng-minlength="10" ng-maxlength = "10"></td>
									
								</tr>
                                
								<tr>
									<td align="left"><label>Password:</label></td>
									<td><input ng-model="ctrl.user.password0" name="password0" class="form-control" type="password" placeholder="Enter your password" required ng-minlength="5"></td>
								</tr>
								<tr>
				                    <td align="left"><label>Confirm Password:</label></td>
									<td><input ng-model="ctrl.user.password1" class="form-control" type="password" placeholder="Confirm your password" required></td>
									
								</tr>
								<tr>
				                    <td align="left"><label>Weight:</label></td>
									<td><input ng-model="ctrl.user.weight" class="form-control" type="number" placeholder="Enter your current weight in kg" required></td>
									
								</tr>
								<tr>
				                    <td align="left"><label>Date of Birth:</label></td>
									<td><input ng-model="ctrl.user.dob" class="form-control" type="date" placeholder="Enter your date of birth" required></td>
									
								</tr>
				                <tr>
				                    <td align="left"><label>Activity Level:</label></td>
									<td><input ng-model="ctrl.user.activity" class="form-control" type="number" placeholder="1.0 is low, 2.0 is very high" required></td>
									
								</tr>
								<tr>
									<td align="left"><label for="gender">Gender:</label></td>
									<td align="left" required>
                                        <input type="radio" value="male" ng-model="ctrl.user.gender"> Male 
                                        <input type="radio" value="female" ng-model="ctrl.user.gender">Female
                                    </td>
								</tr>

							</table> 
		                  <h6><a style="color:blue" id="TC" ng-click="ctrl.setTab('terms')">View terms and conditions</a></h6>
						</div>
					</div>
                    <span ng-show="registerForm.nhsno.$error.minlength" class="form-control error"> Your NHS number is shorter than 10</span>
                    <span ng-show="registerForm.nhsno.$error.maxlength" class="form-control error"> Your NHS number is longer than 10</span>
                    <span ng-show="registerForm.password0.$error.minlength" class="form-control error"> Your password is shorter than 5</span>
			     <input class="btn btn-lg btn-success btn-block"  type = "submit" value = "submit" ng-disabled="registerForm.$invalid">
                    
			</form>
                    
				</div>			
				<div role="tabpanel" ng-show="ctrl.isSet('dietician')" id="doctor-pane">
                    <form ng-submit="ctrl.submit()" name="dieticianRegisterForm">	
                    <div class="panel panel-default element-margin">
                            <div class="panel-body tab-panel">

                                <table class="register-table">
                                    <tr>

                                        <td align="left"><label>Identifying Number:</label></td>
                                        <td><input ng-model="ctrl.user.id" name ="nhsno" class="form-control" type="text" placeholder="Enter your 10 digit NHS number"></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><label>Dietician Registration Password:</label></td>
                                        <td><input ng-model="ctrl.user.dieticianpassword" name="dietpassword" class="form-control" type="password" placeholder="Enter your password" required ng-minlength="5"></td>
                                    </tr>
                                    <tr>
                                        <td align="left"><label>Account Password:</label></td>
                                        <td><input ng-model="ctrl.user.password0" name="password0" class="form-control" type="password" placeholder="Enter your password" required ng-minlength="5"></td>

                                    </tr>
                                    <tr>
                                        <td align="left"><label>Confirm Account Password:</label></td>
                                        <td><input ng-model="ctrl.user.password1" name="password1" class="form-control" type="password" placeholder="Enter your password" required ng-minlength="5"></td>
                                    </tr>
     

                                </table> 
                              <h6><a style="color:blue" id="TC" ng-click="ctrl.setTab('terms')">View terms and conditions</a></h6>
                            </div>
                        </div>
           
                     <input class="btn btn-lg btn-success btn-block"  type = "submit" value = "submit" ng-disabled="dieticianRegisterForm.$invalid">

                </form>
	</div>
		</div>
			
		</div>
  			<div class="modal-dialog" ng-show="ctrl.isSet('terms')">
    			<div class="modal-content">
      				<div class="modal-header">
        				<button type="button" class="close" data-dismiss="modal">
        					
        					<span class="sr-only">Close</span>
        				</button>
        				<h4 class="modal-title" id="modal-info-title"></h4>
      				</div>
      				<div class="modal-body" id="modal-info-body">
      				<p>
      				To use this application you must agree to the following terms and conditions:<br><br>
      				
Appetite is intended for use in adult patients over the age of 18. It is specifically
designed for patients who are undergoing treatment for a cancer diagnosis or who
have recently completed treatment for cancer. Appetite should be used by a patient
in collaboration with their dietitian / hospital team.<br><br>

This application will enable monitoring of daily food intake in relation to personalised
nutritional requirements. It is also designed to help the dietitian / healthcare
professional to monitor changes in food and nutritional intake and advise you more
specifically on your nutritional needs. It is therefore important to enter information
into the application as accurately as possible. This will enable advice and
interventions to be delivered by your healthcare professional / dietitian appropriately.<br><br>

This application is not a substitute for advice that you have been given by your
healthcare professional. It has been designed to help you and your hospital team to
monitor your nutritional intake. It is strongly advised that you contact your hospital
team should your application bring up any alerts that suggest you need to discuss the
information you have entered. Failure to do so could compromise your health.<br><br>

When you register for the Appetite application, the information that you enter will be
anonymous and can only be accessed by persons nominated by you including your
dietitian. The data collected by Appetite may be used for research purposes by your
hospital team although information used will remain anonymous at all times.</p>
      				</div>
      				<div class="modal-footer" id="modal-info-footer">

                        <a type="button" class="modal-button btn btn-success col-xs-2" ng-click="ctrl.setTab('patient')">Close</a>
      				
      				</div>
    			</div>
  			</div>
  	</body>
<html>