<html>

<body onload="OnLoad.prototype.load('home')">
	<nav class="navbar navbar-default" role="navigation">
    	
 			<div class="col-xs-2 border"><img src="assets/resources/gsstlogo.jpg"  height="50" width="70"></div>
      		<div class="col-xs-8 border navbar-title">APPetite</div>
      		<div class="col-xs-2 visible-xs-block border">
      			<span style="float:right">
      				<button class="btn btn-default navbar-btn" data-toggle="collapse" 
      					data-target="#navbar-collapse" id="toggle-button">
      					<i class="glyphicon glyphicon-cog"></i>
      				</button>
     			</span>
      		</div>
      		<div class="collapse navbar-collapse" id="navbar-collapse">
      			<ul class="nav navbar-nav navbar-right">
        			<li><a href="#" id="log_out" onclick="SubmitController.prototype.submit(this.id)">Log out</a></li>
      			</ul>
    		</div>
   
	</nav>
   	<div class="container">
   		<div class="row clearfix">
   			<div class="col-md-12 column"></div>
		</div>
	   	<div class="row clearfix">
	    	<div class="col-md-12 column">
	    		<div class="panel panel-default">
					<div class="panel-heading">
	                   <h4>Today's Balance</h4>
                    </div>
                    
                    <div class = "piecontainer">
                        <pie-chart class="pie" data="ctrl.caloriesdata" options="ctrl.gauge_options"></pie-chart>
                    </div>
                    <div class= "piecontainer">
                        <pie-chart class="pie" data="ctrl.proteindata" options="ctrl.gauge_options"></pie-chart>
                    </div>
                    <div class="piecontainer">
                        <pie-chart class="pie" data="ctrl.fluiddata" options="ctrl.gauge_options"></pie-chart>
                    </div>
                    
                    
                        
	     		</div>
			</div>
		</div>
     	<div class="row clearfix space-margin">
			<div class="col-md-12 column">
     			<div class="element-margin">
     				<a id="btn_home_to_food" class="btn btn-lg btn-primary btn-block" 
     					href="#food">
     					<img src="assets/resources/bread-xxl.png" style="width:30px;height:20px" align="left"> + Food/Drink
     				</a>
     			</div>
     			<div class="element-margin">
     				<a id="btn_home_to_symptoms" class="btn btn-lg btn-primary btn-block" 
     					href="#symptoms">
     					<img src="assets/resources/stethoscope-xxl.png" style="width:30px;height:20px" align="left">+ Symptom
     				</a>
     			</div>
     			<div class="element-margin">
     				<a id="btn_home_to_history" class="btn btn-lg btn-primary" style="width:48%;float:left" 
     					href="#history">
     					<img src="assets/resources/graph.png" id="graphImage" style="width:30px;height:20px" align="left">History
     				</a>
     				<a id="btn_home_to_weight" class="btn btn-lg btn-primary" style="width:48%;float:right" 
     					href="#weight">
     					<img src="assets/resources/weighScale.png" id="weightImage" style="width:30px;height:20px" align="left">Weight
     				</a>
     			</div>
     		</div>
     	</div>
	</div>
	<div class="modal fade" id="modal-amend" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
  			<div class="modal-dialog">
    			<div class="modal-content">
      		<div class="main" style="background-image: url(assets/resources/fruit.jpg);">
			<form class="form" method="post" action="#">
				<div id="headingInWhiteBackground">
					<h2 class="dieticianOnly element-margin">This section is for dietitians only</h2>
					<div class="dieticianOnly element-margin">Dietitians can log in to change
						users nutritional requirements</div>
				</div>
				<input class="inputClass element-margin" type="text" name="demail" id="username"
					placeholder="User Name"> <input class="inputClass element-margin"
					type="password" name="password" id="password"
					placeholder="Password"> <input
					class="passwordButton btn btn-lg btn-success btn-block"
					type="button" value="Update Nutrition">
			</form>
		</div>
  
    			</div>
  			</div>
		</div>
</body>
<html>